{
	email admin@lunarus.ru
}

api.lunarus.ru {

	encode gzip zstd

	# HTTP API
	reverse_proxy /health* http://lunarus-server:8080
	reverse_proxy /auth/* http://lunarus-server:8080
	reverse_proxy /servers* http://lunarus-server:8080
	reverse_proxy /channels* http://lunarus-server:8080
	reverse_proxy /messages* http://lunarus-server:8080
	reverse_proxy /upload* http://lunarus-server:8080
	reverse_proxy /tenor/* http://lunarus-server:8080
	reverse_proxy /voice/* http://lunarus-server:8080
	reverse_proxy /invites/* http://lunarus-server:8080

	# WebSocket gateway
	reverse_proxy /gateway* http://lunarus-server:8080 {
		header_up Connection {http.request.header.Connection}
		header_up Upgrade {http.request.header.Upgrade}
	}

	# LiveKit
	reverse_proxy /rtc* http://lunarus-livekit-1:7880
	reverse_proxy /twirp* http://lunarus-livekit-1:7880
}
