name: build-windows

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Get deps
        working-directory: client_flutter
        run: |
          flutter config --enable-windows-desktop
          flutter pub get

      - name: Build Windows Release
        working-directory: client_flutter
        run: flutter build windows --release

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: lunarus-windows-release
          path: client_flutter/build/windows/x64/runner/Release/**
